<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart City Monitoring System</title>
    <link rel="stylesheet" href="../static/style.css">
	<script src="../static/gauge.min.js"></script>
</head>
<body>
    <h1>Smart City Monitoring System</h1>
    <div class='container'>
        <div id="temperature-gauge-container" class="temp">
            <h2>Temperature (<span id="temp-value">0</span>°C)</h2>
            <canvas id="temperature-gauge" ></canvas>
        </div>
        <div id="humidity-gauge-container" class="humidity">
            <h2>Humidity (<span id="humidity-value">0</span>%)</h2>
            <canvas id="humidity-gauge" ></canvas>
        </div>
        <div id="controls" class="control">
            <h2>LED Control</h2>
            <button onclick="toggleLED('led1')" id="led1">Toggle LED 1</button>
            <button onclick="toggleLED('led2')" id="led2">Toggle LED 2</button>
        </div>
    </div>

    <script src="../static/script.js"></script>    
</body>
</html>
